<div class="login">

    <img class="logo" src="./img/Amazon-Logo.jpg">

</div>
<div class="card">

    <h1> Sign in</h1>
    <div class="form">
        <form action="./creat account.html" method="get">
            <label for="">Email or mobile phone number</label>
            <input type="text">
            <button>continue</button>
        </form>
    </div>
    <p>By signing in, you agree to Amazon's <a href="#">Condition of Use</a> and <a href="#">privacy Notice</a></p>
    <a href="#" class="icon">Need help?</a>
</div>

<div class=" breck">

    <span> New to Amazon? </span> <span> .</span>
    <a href="../Seller/seller_register_account.html"><span> New Seller? </span></a>
</div>
<div class="btn">
    <a href="./creat account.html"> <button> Creat your Amazon account</button></a>
    <footer class="k">
        <br>
        <div class="link">
            <a href="#"> Conditions of Use </a>
            
            <a href="#"> Privacy Notice </a>
            <a href="#"> Help </a>
            
        </div>
        <p class="p">©1996–2023, Amazon.com, Inc. or its affiliates</p>
    </footer>
</div>




<app-header></app-header>